@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al sistema de matrícula para estudiantes.</h1>

    <p>En la opción "Estudiantes Registrados" puede visualizar la lista completa de estudiantes registrados.</p>

    <p>También puede agregar un estudiante, editar un estudiante, ver los detalles de un estudiante, o eliminar un estudiante.</p>

    <p>En la opción "Mujeres Registradas" puede visualizar la lista completa de mujeres registrados en el sistema.</p>

    <p>En la opción "Hombres Registrados" puede visualizar la lista completa de hombres registradas em el sistema.</p>

    <p>Si desea ver el historial familiar de un estudiante presione en detalles, y en "Historial familiar"</p>
</div>
